In [2]:
theid = 'user2' #This is the subject ID number (name of file)
filesource = './Session/' #This is the source folder that contains all of your participant folders

In [3]:
import csv
import datetime
import math
import time
import collections
from collections import OrderedDict
import os.path
import pandas as pd
import glob

In [10]:
eda=pd.read_csv(filesource+theid+"/output_EDA.csv",header=None)
eda.columns=['Timestamp','GSR']
cols=eda.columns
eda["GSR"]=pd.to_numeric(eda["GSR"])
eda["Timestamp"]=pd.to_datetime(eda["Timestamp"])
eda

                  Timestamp       GSR
0   2022-09-19 10:47:12.000  0.000000
1   2022-09-19 10:47:12.250  0.107612
2   2022-09-19 10:47:12.500  0.133234
3   2022-09-19 10:47:12.750  0.131953
4   2022-09-19 10:47:13.000  0.133234
..                      ...       ...
211 2022-09-19 10:48:04.750  0.131953
212 2022-09-19 10:48:05.000  0.131953
213 2022-09-19 10:48:05.250  0.131953
214 2022-09-19 10:48:05.500  0.131953
215 2022-09-19 10:48:05.750  0.138359

[216 rows x 2 columns]

In [7]:
print(cols)

Index(['Timestamp', 'HR'], dtype='object')

In [11]:
hr=pd.read_csv(filesource+theid+"/output_HR.csv",header=None)
hr.columns=["Timestamp","HR"]
cols=hr.columns
hr["HR"]=pd.to_numeric(hr["HR"])
hr["Timestamp"]=pd.to_datetime(hr["Timestamp"])
print(cols)
hr

Index(['Timestamp', 'HR'], dtype='object')

             Timestamp      HR
0  2022-09-19 10:47:22   85.00
1  2022-09-19 10:47:23   84.00
2  2022-09-19 10:47:24   75.33
3  2022-09-19 10:47:25   74.00
4  2022-09-19 10:47:26  101.60
5  2022-09-19 10:47:27   94.83
6  2022-09-19 10:47:28   91.43
7  2022-09-19 10:47:29   89.12
8  2022-09-19 10:47:30   87.33
9  2022-09-19 10:47:31   86.10
10 2022-09-19 10:47:32   85.09
11 2022-09-19 10:47:33   84.25
12 2022-09-19 10:47:34   83.54
13 2022-09-19 10:47:35   82.93
14 2022-09-19 10:47:36   82.40
15 2022-09-19 10:47:37   81.81
16 2022-09-19 10:47:38   81.29
17 2022-09-19 10:47:39   80.94
18 2022-09-19 10:47:40   80.53
19 2022-09-19 10:47:41   80.15
20 2022-09-19 10:47:42   79.81
21 2022-09-19 10:47:43   79.41
22 2022-09-19 10:47:44   79.04
23 2022-09-19 10:47:45   78.58
24 2022-09-19 10:47:46   78.20
25 2022-09-19 10:47:47   77.85
26 2022-09-19 10:47:48   77.52
27 2022-09-19 10:47:49   77.21
28 2022-09-19 10:47:50   76.93
29 2022-09-19 10:47:51   76.63
30 2022-09-19 10:47:52   76.35
31 2022-09-19 10:47:53   76.09
32 2022-09-19 10:47:54   75.85
33 2022-09-19 10:47:55   75.59
34 2022-09-19 10:47:56   75.31
35 2022-09-19 10:47:57   75.06
36 2022-09-19 10:47:58   75.35
37 2022-09-19 10:47:59   75.66
38 2022-09-19 10:48:00   75.95
39 2022-09-19 10:48:01   76.25
40 2022-09-19 10:48:02   76.51
41 2022-09-19 10:48:03   76.76
42 2022-09-19 10:48:04   76.98
43 2022-09-19 10:48:05   77.23
44 2022-09-19 10:48:06   77.47

In [13]:
data=pd.merge(eda,hr,'left',on=['Timestamp'])
print(data)

                  Timestamp       GSR     HR
0   2022-09-19 10:47:12.000  0.000000    NaN
1   2022-09-19 10:47:12.250  0.107612    NaN
2   2022-09-19 10:47:12.500  0.133234    NaN
3   2022-09-19 10:47:12.750  0.131953    NaN
4   2022-09-19 10:47:13.000  0.133234    NaN
..                      ...       ...    ...
211 2022-09-19 10:48:04.750  0.131953    NaN
212 2022-09-19 10:48:05.000  0.131953  77.23
213 2022-09-19 10:48:05.250  0.131953    NaN
214 2022-09-19 10:48:05.500  0.131953    NaN
215 2022-09-19 10:48:05.750  0.138359    NaN

[216 rows x 3 columns]